{% set nieuws = craft.entries()
    .section('nieuws')
    .limit(3)
    .all() %}
{% if nieuws %}
<section class="section section--nieuws">
    <div class="content">
        <div class="contentblock">
            <header class="contentblock__header">
                <h2 class="pagetitle">Nieuws & acties</h2>
            </header>
          
            <div class="newslist">
            {% for entry in nieuws %}
            {% if entry.newsType %}
                <a class="newslist__item" href="{{ entry.url }}">
                    <div class="newslist__item__text">
                        <h3 class="title">{{ entry.title }}</h3>
                        {% if entry.preTitle %}
                        <h4 class="pretitle">{{ entry.preTitle }}</h4>
                        {% endif %}
                        {#<p>{{ entry.richText|striptags|truncate(155)|raw }}</p>#}
                        <div class="btn btn--secondary btn--diap-green">→ Lees meer</div>
                    </div>

                    {% if entry.image.one() %}
                    <div class="newslist__item__image">
                        {% set img = entry.image.one() %}
                        <figure class="figure">
                            <picture>
                                <img src="{{ img.url }}" alt="{{ img.title|raw }}" loading="lazy" />
                            </picture>

                            {#<figcaption>{{ img.title|raw }}</figcaption>#}
                        </figure>
                    </div>
                    {% endif %}
                </a>
            {% elseif entry.externalLink %}
            <a class="newslist__item icon-outboundlink" href="{{ entry.externalLink }}" target="_blank" rel="noopener">
                <div class="newslist__item__text">
                        <h3 class="title">{{ entry.title }}</h3>
                        <h4 class="pretitle">{{ entry.preTitle }}</h4>
                    </div>
            </a>
            {% endif %}
            {% endfor %}

                <div class="btn-group">
                    <a href="{{ currentSite.baseUrl ~ '/actueel' }}" class="btn btn--primary btn--green btn--greenFx btn--arrowRight">
                        → Meer
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}