{% hook 'seomateMeta' %}

{#
<link rel="canonical" href="{{ siteUrl ~ craft.app.request.pathInfo }}">
<meta name="robots" content="index, follow">

    <title>{{ entry.seoTitle ?? entry.title }}</title>
    <meta name="description" content="{{ entry.seoDescription ?? entry.headerText }}">

    {% set seoImage = entry.seoImage.one() ? entry.seoImage.one().url : null %}
    {% if seoImage %}
        <meta property="og:image" content="{{ seoImage }}">
        <meta name="twitter:image" content="{{ seoImage }}">
    {% endif %}

    <meta property="og:title" content="{{ entry.seoTitle ?? entry.title }}">
    <meta property="og:description" content="{{ entry.seoDescription ?? entry.headerText }}">










{% set tags = entry.seoTags.all() %}
        {% if tags|length %}
            <ul class="tags">
                {% for tag in tags %}
                    <li>{{ tag.title }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <meta name="keywords" content="{{ entry.seoTags ?? 'default, keywords' }}">

        #}