{% extends "_layouts/default" %}

{% block styles %}
{% endblock %}

{% block bodyclass %}yellow bg-green entry{% endblock %}

{% block content %}

<main id="main" class="main" tabindex="-1">
    <article class="article has-sticker">
        <div class="article__header">
            <div class="content">
                <div class="contentblock">
                    <header class="contentblock__header">
                        {% if entry.newsType %}
                        <h2 class="pagetitle">{{ entry.title }}</h2>
                        {% else %}
                        <h2 class="pagetitle icon-outboundlink">
                            <a href="{{ entry.externalLink }}" target="_blank" rel="noreferrer noopener">{{ entry.title }}</a>
                        </h2>
                        {% endif %}
                        {% if entry.preTitle %}<h3 class="pagepretitle">{{ entry.preTitle }}</h3>{% endif %}
                    </header>
                </div>
            </div>

            {% include "_partials/_sticker_demo.twig" %}
        </div>

        
        <div class="article__content">
            <div class="content">
                <div class="contentblock">
                    <div class="contentblock__meta">
                        {% if entry.newsType %}
                        <time datetime="{{ entry.postDate|date('c') }}">{{ entry.postDate|date('d M Y') }}</time>
                        {% endif %}
                    </div>

                    {% if entry.richText %}
                    <div class="contentblock__text">
                        {{ entry.richText }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        

        <div class="article__footer">
            <div class="content">
                <div class="contentblock">
                    <div class="contentblock__footer">
                        <div class="btn-group">
                            <a href="{{ currentSite.baseUrl ~ '/nieuws' }}" class="btn btn--primary btn--green btn--greenFx btn--arrowRight">
                                ← Meer nieuws
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

{% include "_partials/nav/_sociallinks.twig" %}

{% endblock %}

{% block scripts %}{% endblock %}