{% extends "_layouts/default" %}

{% block styles %}{% endblock %}

{% block bodyclass %}yellow bg-green listing{% endblock %}

{% block content %}
<main id="main" class="main" tabindex="-1">
    {% set nieuws = craft.entries()
        .section('nieuws')
        .type('nieuws')
        .orderBy('postDate desc')
        .all() %}

    <section class="section has-sticker">
        <div class="section__header">
            <div class="content">
                <div class="contentblock">
                    <header class="contentblock__header">
                        <h2 class="pagetitle">Nieuws</h2>
                    </header>

                    {% include "_partials/nav/_nieuws_typeToggle" %}
                </div>
            </div>

            {% include "_partials/_sticker_petitie" %}
        </div>

        <div class="section__content">
            <div class="content">
                <div class="contentblock">
                    {% if nieuws %}
                        <div class="newslist">
                        {% for entry in nieuws %}
                        {% if entry.newsType %}
                            <a class="newslist__item" href="{{ entry.url }}">
                                <div class="newslist__item__text">
                                    <h3 class="title">{{ entry.title }}</h3>
                                    <h4 class="pretitle">{{ entry.preTitle }}</h4>
                                    {#<p>{{ entry.richText|striptags|truncate(155)|raw }}</p>#}
                                    <div class="btn btn--secondary btn--diap-green">→ Lees meer</div>
                                </div>
                            </a>
                        {% elseif entry.externalLink %}
                            <a class="newslist__item icon-outboundlink" href="{{ entry.externalLink }}" target="_blank" rel="noopener">
                                <div class="newslist__item__text">
                                        <h3 class="title">{{ entry.title }}</h3>
                                        <h4 class="pretitle">{{ entry.preTitle }}</h4>
                                    </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

{% include "_partials/_aside.twig" %}

{% endblock %}

{% block scripts %}{% endblock %}