{% extends "_layouts/default" %}

{% block styles %}
{% endblock %}

{% block bodyclass %}yellow bg-green entry{% endblock %}

{% block content %}

<main id="main" class="main" tabindex="-1">
    <article class="article">
        <div class="article__header">
            <div class="content sectionheader">
                <div class="contentblock">
                    <header class="contentblock__header">
                        <h2 class="pagetitle">{{ entry.title }}</h2>
                        {% if entry.preTitle %}<h3 class="pagepretitle">{{ entry.preTitle }}</h3>{% endif %}
                    </header>

                    {% if entry.intro %}
                    <div class="contentblock__text">
                        {{ entry.intro }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="article__content">
            <div class="content">
                {% set embed = craft.embeddedAssets.get(entry.video.one()) %}
                <div class="contentblock">
                    <div class="contentblock__cols">
                        <div class="contentblock__cols__col">
                            <h3>Deel de video</h3>
                            {% if embed %}
                            <figure class="media--embed">
                                {{ embed.code }}
                            </figure>
                            {% endif %}

                            {% if entry.videoText %}
                                <div>{{ entry.videoText }}</div>
                            {% endif %}

                            {% set fileVideo = entry.fileVideo.one() %}
                            {% if fileVideo %}
                            <div class="btn-group">
                                <a href="{{ fileVideo.url }}" class="btn btn--secondary btn--diap-green" target="_blank">↓ Download video (140mb)</a>
                            </div>
                            {% endif %}
                        </div>

                        {% set fileToolkit = entry.fileToolkit.one() %}
                        {% if fileToolkit %}
                        <div class="contentblock__cols__col">
                            <h3>Toolkit</h3>
                            
                            {% if entry.toolkitText %}
                                <div>{{ entry.toolkitText }}</div>
                            {% endif %}
                            
                            <div class="btn-group">
                                <a href="{{ fileToolkit.url }}" class="btn btn--secondary btn--diap-green" target="_blank">↓ Download toolkit</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="contentblock">
                    <div class="contentblock__text">
                        {{ entry.body }}
                    </div>
                </div>
            </div>
        </div>

        {% include "_partials/_cta_organisaties.twig" %}
    </article>
</main>

{% include "_partials/nav/_sociallinks.twig" %}

{% endblock %}

{% block scripts %}{% endblock %}