{% extends "_layouts/default" %}

{% block styles %}
{% endblock %}

{% block bodyclass %}yellow bg-green homepage{% endblock %}

{% block content %}

<main id="main" class="main" tabindex="-1">
    <section class="section has-sticker">
        <div class="content sectionheader">
            <div class="contentblock">
                <header class="contentblock__header">
                    <h2 class="pagetitle">{{ entry.title }}</h2>
                </header>

                <div class="contentblock__text">
                    {{ entry.headerText }}
                </div>

                <div class="contentblock__footer">
                    <div class="btn-group">
                        {% set buttonEntry = entry.headerButtonLink.one() %}
                        {% if buttonEntry %}
                            <a href="{{ buttonEntry.url }}" class="btn btn--primary btn--green btn--greenFx">
                                → {{ entry.headerButtonText }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include "_partials/_sticker_demo.twig" %}
    </section>

    <section class="section section--video">
        {% include "_partials/_block_video.twig" %}
    </section>

    <section class="section section--actie">
        <div class="content sectionheader">
            <div class="contentblock">
                <header class="contentblock__header">
                    <div class="contentblock__header__icon">
                        {% include "_partials/social_icons/icon_cross.twig" with { 'fillColor': '#ffe85e' } %}
                    </div>

                    <h2 class="pagetitle">{{ entry.spreekjeuitTitle }}</h2>
                </header>

                <div class="contentblock__text">
                    {{ entry.spreekjeuitText }}
                </div>

                {% set buttonEntry = entry.spreekjeuitButtonLink.one() %}
                {% if buttonEntry %}
                <div class="contentblock__footer">
                    <div class="btn-group">                        
                        <a href="{{ buttonEntry.url }}" class="btn btn--primary btn--red btn--redFx">
                            → {{ entry.spreekjeuitButtonText }}
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% include "_partials/_homepage_nieuwslist.twig" %}
</main>

{% include "_partials/nav/_sociallinks.twig" %}

{% endblock %}

{% block scripts %}
{% endblock %}