{% extends "_layouts/default" %}

{% block styles %}
{% endblock %}

{% block bodyclass %}yellow bg-green homepage{% endblock %}

{% block content %}

<main id="main" class="main" tabindex="-1">
    <section class="section">
        <div class="content sectionheader">
            <div class="contentblock">
                <header class="contentblock__header">
                    <h2 class="pagetitle">{{ entry.title }}</h2>
                </header>

                <div class="contentblock__text">
                    <p>{{ entry.headerText }}</p>
                </div>

                <div class="contentblock__footer">
                    <div class="btn-group">
                        {% set buttonEntry = entry.headerButtonLink.one() %}
                        {% if buttonEntry %}
                            <a href="{{ buttonEntry.url }}" class="btn btn--primary btn--green btn--greenFx">
                                → {{ entry.headerButtonText }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div class="contentblock">
                <div class="contentblock__embed">
                    <figure class="media--embed">
                        {% set embed = craft.embeddedAssets.get(entry.embed.one()) %}
                        {% if embed %}
                            {{ embed.code }}
        
                            {#<figcaption>{% if embed.title %}{{ embed.title }}{% endif %}</figcaption>#}
                        {% endif %}
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--actie">
        <div class="content sectionheader">
            <div class="contentblock">
                <header class="contentblock__header">
                    <div class="contentblock__header__icon">
                        <svg viewBox="0 0 101 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M82.1576 102L0.0319824 18.2319L17.9064 0L100.032 83.7681L82.1576 102ZM17.9064 102L0.0319824 83.7681L81.916 0L99.7905 18.2319L17.9064 102Z" fill="#FFE85E"/>
                        </svg>
                    </div>

                    <h2 class="pagetitle">{{ entry.spreekjeuitTitle }}</h2>
                </header>

                <div class="contentblock__text">
                    {{ entry.spreekjeuitText }}
                </div>

                <div class="contentblock__footer">
                    <div class="btn-group">
                        {% set buttonEntry = entry.spreekjeuitButtonLink.one() %}
                        {% if buttonEntry %}
                            <a href="{{ buttonEntry.url }}" class="btn btn--primary btn--red btn--redFx">
                                → {{ entry.spreekjeuitButtonText }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include "_partials/_homepage_nieuwslist.twig" %}
</main>

{% include "_partials/nav/_sociallinks.twig" %}

{% endblock %}

{% block scripts %}
{% endblock %}