{% extends "_layouts/default" %}

{% block styles %}
{% endblock %}

{% block bodyclass %}yellow bg-green entry{% endblock %}

{% block content %}

<main id="main" class="main" tabindex="-1">
    <article class="article">
        <div class="article__header">
            <div class="content sectionheader">
                <div class="contentblock">
                    <header class="contentblock__header">
                        <h2 class="pagetitle">{{ entry.title }}</h2>
                        {% if entry.preTitle %}<h3 class="pagepretitle">{{ entry.preTitle }}</h3>{% endif %}
                    </header>

                    {% if entry.intro %}
                    <div class="contentblock__text">
                        {{ entry.intro }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="article__content">
            <div class="content">
                <div class="contentblock">
                    <div class="contentblock__text">
                        {{ entry.body }}
                    </div>
                </div>
            </div>

            <div class="content qa">
                <div class="contentblock">
                    <div class="contentblock__text">
                        {{ entry.richTextWithFootnotes | footnotes }}
                    </div>

                    <div class="contentblock__text">
                        <ul class="footnotes">
                            {% for number, footnote in footnotes() %}
                            <li id="footnote-{{ loop.index }}">
                                <span class="number">{{ number | raw }}</span>
                                <span class="footnote">{{ footnote }}</span>
                                <a class="footnote-back" href="#fnref:{{ loop.index }}" aria-label="Terug naar de tekst"></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

{% include "_partials/nav/_sociallinks.twig" %}

{% endblock %}

{% block scripts %}
<script>
    // Zet URLs in footnotes om naar klikbare links
    document.querySelectorAll('ul li span.footnote').forEach(li => {
        li.childNodes.forEach(node => {
            if (node.nodeType === 3) { // tekstnode
                // Regex voor URLs
                const urlRegex = /(https?:\/\/[^\s<]+)/g;
                if (urlRegex.test(node.textContent)) {
                    const replaced = node.textContent.replace(urlRegex, '<a href="$1" target="_blank" rel="noopener">$1</a>');
                    // Nieuwe HTML node maken
                    const span = document.createElement('span');
                    span.innerHTML = replaced;
                    li.replaceChild(span, node);
                }
            }
        });
    });
</script>
{% endblock %}